DOCS_DEPLOY_DIR=D:\sites\croparia-if-docs

DOCS_SSH_HOST=example.com
DOCS_SSH_USER=deploy
DOCS_SSH_TARGET_DIR=/var/www/croparia-if-docs
DOCS_SSH_PORT=22
DOCS_SSH_KEY=C:\Users\you\.ssh\id_ed25519
DOCS_SSH_KEEP_BACKUP=0
